
// Fonts //
@sans: 'Source Sans Pro Regular';
@sans_italic: 'Source Sans Pro Italic';
@sans_bold: 'Source Sans Pro Semibold';

// Common Colors //
@land: #ffc;
@water: #c3e6ff;

.Map {
  fill-color: @land;

}

.Line {
  [zoom>=15]{

    [highway=ALL]{
      color: lightgreen;
      line-width: 2;
      contour-color: navy;
      contour-width: 1;
    }

    [highway=track]{
      color: green;
      line-width: 3;
      contour-color: black;
      contour-width: 1;
    }
  }

  [zoom>=14]{
    [highway=service]{
      color: white;
      line-width: 3;
      contour-color: black;
      contour-width: 1;
    }

    [highway=residential]{
      color: yellow;
      opacity: 0.9;
      line-width: 8;
      contour-color: black;
      contour-width: 1;
    }
  }

  [zoom>=10]{
    [highway=primary]{
      color: white;
      line-width: 3;
      contour-color: black;
      contour-width: 1;
    }

    [highway=secondary]{
      color: yellow;
      opacity: 0.9;
      line-width: 8;
      contour-color: black;
      contour-width: 1;
    }
  }

  [highway=motorway]{
    color: yellow;
    opacity: 0.9;
    line-width: 30;
    contour-color: orange;
    contour-width: 1;
  }
}

.Polygon {
  /*
  [area=yes]{
  line-width: 0.5;
  fill-color: 'rgb(0,0,255)';
  opacity: 0.3;
}
*/
[landuse=farmland]{
  fill-color: 'rgb(130,180,30)';
  opacity: 1;
  line-width: none;
  color: cyan;
}

[zoom<10]{
  [boundary=administrative]{
    line-width: 0.5;
    color: 'rgb(255,0,0)';
  }
}

}
