@name: '[name_en]';

// Fonts //
@sans: 'Source Sans Pro Regular';
@sans_italic: 'Source Sans Pro Italic';
@sans_bold: 'Source Sans Pro Semibold';

// Common Colors //
@land: #fff;
@water: #c3e6ff;

.Map {
  background-color: @land;
}

.Line {
  [highway=road]{
    line-width: 1.4;
  }
}

.Polygon {
  [area=yes]{
    line-width: 1.4;
  }
}
